*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

/emulator/debug
/emulator/release
/emulator/Makefile.*
/emulator/Makefile
/emulator/object_script.*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
/emulator/.qtc_clangd/*
/emulator/.qmake.cache
/emulator/.qmake.stash
*.user
/emulator/QtBkBtl
/emulator/QtBkBtl.app
/emulator/*.rom
/emulator/trace.log

.DS_Store
