*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

/emulator/debug
/emulator/release
/emulator/Makefile.*
/emulator/Makefile
/emulator/object_script.*
*.user
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
/.qtc_clangd/*
/.qmake.cache
/.qmake.stash

/QtBkBtl
/QtBkBtl.app
/emulator/*.rom

.DS_Store
