*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

/object_script.*
/.qmake.cache
/.qmake.stash
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
/.qtc_clangd/*

/debug
/release
/Makefile.*
/Makefile
/*.user
/QtBkBtl
/QtBkBtl.app
/*.rom

.DS_Store
